<div class="portfolio">
  <div class="card">
    <img src="img/port1.jpg" alt="Project 1" />
    <p>Project 1</p>
  </div>
  <div class="card">
    <img src="img/port2.jpg" alt="Project 2" />
    <p>Project 2</p>
  </div>
  <div class="card">
    <img src="img/port3.jpg" alt="Project 3" />
    <p>Project 3</p>
  </div>
  <div class="card">
    <img src="img/port4.jpg" alt="Project 4" />
    <p>Project 4</p>
  </div>
  <div class="card">
    <img src="img/port5.jpg" alt="Project 5" />
    <p>Project 5</p>
  </div>
  <div class="card">
    <img src="img/port6.jpg" alt="Project 6" />
    <p>Project 6</p>
  </div>
</div>
